:root {
  --gutters: #ebe7e5;
  --linenumbers: #3e4d67;
  --border: #546a90;

  --comment: #546a90;
  --operator: #e6b673;
  --icons: #546a90;

  --number: #42c6ff;
  --keyword: #dadbdb;
  --string: #ff73d3;
  --bracket: #546a90;
  --color-primary: #acb0fd;
  --color-secondary: #42c6ff;
  --color-thirdly: #acb0fd;
  --color-fourtly: #75ff91;
  --color-fiftly: #2eff85;

  --background-primary: #0e0e0e;
  --background-thirdly: #0e0e0e;
  --background-secondary: #7895ff58;

  --gutters-border: 1px solid transparent;
  --border-width: 1px;
  --error: #e93838;
  --warning: #ffed2b;
  --success: #6de46d;
  --progress: #42c6ff;
  --def: #e8e5eb;
  --dec: #42c6ff;
  --classname: #7088f4;
  --control: #58e1df;
  --property: #bd86f8;
  --tag: #9092de;
  --unit: #62f8ce;
  --color: #ff8bf7;
  --var: #cae5f2;
  /* --keyword: #d976ef; */
  --self: #4c95f6;
  --separator: #a4b1dd;
  --special: #6ad1e4;
  --type: #37d2d2;
  --meta: #4f73f6;
  --regexp: #f1628a;
  --drone1: #833783;
  --drone2: orchid;
  --drone3: pink;
  --drone4: #2a2c2e;
  --font-primary: 'Fantastic';
  --hover: #2eff85;
  --atom: #e24488;
}
@font-face {
  font-family: 'Fantastic';
  src: url(./assets/fonts/FantasqueSansMono-Regular.ttf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Drifter';
  src: url(./assets/fonts/DrifterMono.ttf) format('truetype');
  font-display: swap;
}
text,
input,
button,
textarea {
  font-family: var(--font-primary);
  font-size: 12pt;
}

body {
  user-select: none;
  background-color: var(--background-thirdly);
  overflow: hidden;
  margin: 0;
  height: 100vh;
}
.comments-section {
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  width: fit-content;
  z-index: 2;
}

.editor-container {
  z-index: 1;
}
.app {
  display: none;
  position: absolute;
  top: 0;
  left: 50vw;
  width: 49.6vw;
  height: calc(100vh - 5.3px);
  box-sizing: border-box;
  z-index: 2;
  border: 1px solid var(--border);
  background-color: rgba(0, 0, 0, 0.7);
}
@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.svgIcon:active {
  transform: scale(1.2);
}
/* .executeButton:active {
  transform: translateX(5px);
} */
.svgIcon:hover {
  color: var(--hover);
  fill: var(--hover);
  stroke: var(--hover);
}

.svgIcon {
  color: var(--icons);
  fill: var(--icons);
  stroke: var(--icons);
}
.header {
  right: 0;
  top: 15px;
  height: 50px;
  gap: 10px;
  border: none;
  margin-right: 10px;
  display: grid;
  background-color: transparent;
  position: fixed;
  z-index: 1500;
}

.cm-editor {
  /* border: none; */
  padding-left: 10px;
  border: 1px solid var(--border);
}

.header-button {
  cursor: pointer;
  background: transparent;
  border: none;
}

input {
  font-weight: 900;
  background-color: transparent;
  border: var(--border-width) solid var(--comment);
  color: var(--icons);
  margin: 5px;
  padding: 8px;
}
input:focus {
  background-color: var(--icons);
  color: var(--background-thirdly);
}

.cm-completionLabel,
.cm-completionMatchedText,
.cm-completionDetail {
  font-family: var(--font-primary);
}

.cm-searchMatch {
  background-color: #686971be !important;
}
.cm-searchMatch-selected {
  background-color: #de61b08e !important;
}

.cm-panels,
.cm-search {
  background-color: var(--background-primary) !important;
  max-width: 99vw;
  bottom: 0px;
}

.console {
  outline: none;
  resize: none;
  position: absolute;
  bottom: 0;
  right: 50px;
  border: none;
  width: auto;
  font-family: var(--font-primary);
  color: #ff3769;
  position: absolute;
  resize: vertical;
  z-index: 5;
  font-style: normal;
  letter-spacing: -0.05em;
  padding: 5px;
  padding-inline-start: 10px;
  text-align: left;
  background-color: transparent;
}

.popup-container {
  position: absolute;
  bottom: 5px;
  /* left: 8px; */
  width: fit-content;
  z-index: 1000;
  color: white;
  background-color: transparent;
  display: none;
  /* border: solid 1px var(--border); */
}
.canvas-container {
  display: none;
}
